<div class="mere">
<div class="centrer">
  <div class="histoires" *ngFor="let histoire of histoires">
    <div class="module" routerLink="/histoire/{{histoire.id}}">
      {{histoire.name}}
    </div>
    <div class="supprimer">
      <button class="boutondelete" (click)="deleteHistoire(histoire)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/Iconepoubelle.png"></button>
    </div>
  </div>
</div>
<div class="divider">
  <img class="divider" src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/separator_line.png"><br><br>
</div>
<div class="nouvelle" [formGroup]="myGroup">
  Nom de la nouvelle histoire :
  <input type="text" value="" formControlName="nomhistoire" />
  <button class="boutonadd" (click)="addHistoire(nomhistoire)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/iconeajout.png"></button>
  
</div>
<!-- <br> -->
</div>