.blocs {
    display: inline-block;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

.parent {
    display: inline-flex;
    vertical-align: top;
    width: 100%;
}

.fiche {
    width: 80%;
}

.liste {
    vertical-align: top;
}

.boutonadd {
    background: transparent;
    border-width: 0px;
    cursor: pointer;
    padding-left: 30px;
  }

  .boutonretour {
    padding-left: 30px;
    background: transparent;
    border-width: 0px;
    cursor: pointer;
  }

  .presentation {
   position:absolute;
   top:0;
   right:0;
  }