<div class="parent">

    <div class="liste">
        <button class="boutonadd" routerLink="creationperso"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/iconeajout.png">Ajouter
            un perso</button>
        <img class="divider" src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/separator_line.png"><br>
        
        <li class="listepersos" *ngFor="let perso of persos" (click)="onSelect(perso)">
            <img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/BoutonsGestionnairePersonnageliste.png"> {{perso.prenom}} {{perso.nom}}
        </li><br>
    </div>
    <div class="fiche">
        <div class="blocs">
            <app-fiche></app-fiche>
        </div>
    </div>
</div>