  .module {
    display: inline-flex;
    position: relative;
    justify-content:center;
    align-items:center;
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-height: 120px;
    min-width: 120px;
    border-radius: 10px;
    color:#dfd292;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #656565;
    background: linear-gradient(#69543b, #32281e);
  }
  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }

  .parties {
      text-align: center;
      display: inline-block;
      align-items: center;
      justify-content:center;
  }

  .nouvelle {
    text-align: center;
  }

  .affichermere {
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
  }

  .afficher {
    text-align: center;
    cursor: pointer;
    color: #363413;
    text-decoration: underline;
  }