<div class="presentation"><a href="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/schemaglobalprojet19446490139.png"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_speaker_notes_black_18dp.png"></a></div>
<div class="affichermere">
  <div class="afficher" routerLink="/joueurs">Afficher tous les joueurs</div>
</div>
<div class="divider">
  <img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/separator_line.png"><br>
</div>
<div class="centrer">
  <div class="parties" *ngFor="let partie of parties">
    <div class="module" routerLink="/partie/{{partie.id}}">
      {{partie.name}}
    </div>
    <div class="supprimer">
      <button class="boutondelete" (click)="deletePartie(partie)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_delete_black_18dp66294009602.png"></button>
    </div>
  </div>
</div>
<div class="divider">
  <img class="divider" src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/separator_line.png"><br><br>
</div>
<div class="nouvelle" [formGroup]="myGroup">
  Nom de la nouvelle partie :
  <input type="text" value="" formControlName="nompartie" />
  <button class="boutonadd" (click)="addPartie(nompartie)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_add_circle_black_18dp92817963810.png"></button>
</div>