<div class="affichermere">
  <div class="afficher" routerLink="/joueurs">Afficher tous les joueurs</div>
</div>

<br><br>

<div class="parties" *ngFor="let partie of parties">
  <div class="module" routerLink="/partie/{{partie.id}}">
    {{partie.name}}
  </div>
  <div class="supprimer">
    <button class="delete" (click)="deletePartie(partie)">Supprimer</button>
  </div>
</div>

<br><br><br><br>

<div class="nouvelle" [formGroup]="myGroup">
  Nom de la nouvelle partie :
  <input type="text" value="" formControlName="nompartie" />
  <button (click)="addPartie(nompartie)">Ajouter</button>
</div>

<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label>
 <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->