<div class="parties">
    <div *ngFor="let partie of parties" class="module" routerLink="/partie/{{partie.id}}">
        {{partie.name}}
    </div>
    <!-- <button class="delete" title="delete" (click)="delete(partie)">X</button> -->
</div>
<br><br>
<div class="nouvelle" [formGroup]="myGroup">
  Nom de la nouvelle partie : 
  <input type="text" value="" formControlName="nompartie" />
  <button (click)="addPartie(nompartie)" >Ajouter</button>
</div>

<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label>
 <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->