<div class="feuille coin" *ngIf="perso">
    <h1>Fiche pour {{perso.prenom}} {{perso.nom}}</h1>
    <div>
        <label>Nom : </label><br>
        <textarea [(ngModel)]="perso.nom" placeholder="" cols="10" rows="1"></textarea>
    </div>
    <div>
        <label>Prenom : </label><br>
        <textarea [(ngModel)]="perso.prenom" placeholder="" cols="10" rows="1"></textarea>
    </div>
    <div>
        <label>Sexe : </label><br>
        <textarea [(ngModel)]="perso.sexe" placeholder="" cols="10" rows="1"></textarea>
    </div>
    <div>
        <label>Naissance : </label><br>
        <textarea [(ngModel)]="perso.naissance" placeholder="" cols="10" rows="1"></textarea>
    </div>
    <div>
        <label>Carrure : </label><br>
        <textarea [(ngModel)]="perso.carrure" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Peau :</label><br>
        <textarea [(ngModel)]="perso.peau" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Cheveux :</label><br>
        <textarea [(ngModel)]="perso.cheveux" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Yeux : </label><br>
        <textarea [(ngModel)]="perso.yeux" placeholder="" cols="10" rows="1"></textarea>
    </div>
    <div>
        <label>Style :</label><br>
        <textarea [(ngModel)]="perso.style" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Qualités :</label><br>
        <textarea [(ngModel)]="perso.qualites" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Défauts :</label><br>
        <textarea [(ngModel)]="perso.defauts" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Caractère :</label><br>
        <textarea [(ngModel)]="perso.caractere" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Ambition :</label><br>
        <textarea [(ngModel)]="perso.ambition" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Competences :</label><br>
        <textarea [(ngModel)]="perso.competences" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Richesse :</label><br>
        <textarea [(ngModel)]="perso.richesse" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Statut :</label><br>
        <textarea [(ngModel)]="perso.statut" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Emploi :</label><br>
        <textarea [(ngModel)]="perso.emploi" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Habitat :</label><br>
        <textarea [(ngModel)]="perso.habitat" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Famille :</label><br>
        <textarea [(ngModel)]="perso.famille" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Amis :</label><br>
        <textarea [(ngModel)]="perso.amis" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Amour :</label><br>
        <textarea [(ngModel)]="perso.amour" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Animaux :</label><br>
        <textarea [(ngModel)]="perso.animaux" placeholder="" cols="50" rows="2"></textarea>
    </div>
    <div>
        <label>Passé :</label><br>
        <textarea [(ngModel)]="perso.passe" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Réalisations :</label><br>
        <textarea [(ngModel)]="perso.realisations" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Voyages :</label><br>
        <textarea [(ngModel)]="perso.voyages" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div>
        <label>Autre :</label><br>
        <textarea [(ngModel)]="perso.autre" placeholder="" cols="50" rows="3"></textarea>
    </div>
    <div class="centrerbouton">
        <div class="supprimer">
            <button class="delete" type="submit" (click)="editPerso(perso)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/iconeedition.png"></button>
            <button class="delete" (click)="deletePerso(perso)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/Iconepoubelle.png"></button>
        </div>
    </div>
</div>