<div *ngIf="perso">
    <div>
        <label>Nom :
            <input [(ngModel)]="perso.name" placeholder="">
        </label>
    </div>
    <div>
        <label>Sexe :
            <input [(ngModel)]="perso.sexe" placeholder="">
        </label>
    </div>
    <div>
        <label>Taille :
            <input [(ngModel)]="perso.taille" placeholder="">
        </label>
    </div>
    <div>
        <label>Poids :
            <input [(ngModel)]="perso.poids" placeholder="">
        </label>
    </div>
    <div>
        <label>Classe :
            <input [(ngModel)]="perso.classe" placeholder="">
        </label>
    </div>
    <div>
        <label>Race :
            <input [(ngModel)]="perso.race" placeholder="">
        </label>
    </div>
    <div>
        <label>Intelligence :
            <input type="number" [(ngModel)]="perso.intelligence" placeholder=""> / 20
        </label>
    </div>
    <div>
        <label>Force :
            <input type="number" [(ngModel)]="perso.force" placeholder=""> / 20
        </label>
    </div>
    <div>
        <label>Dextérité :
            <input type="number" [(ngModel)]="perso.dexterite" placeholder=""> / 20
        </label>
    </div>

    <div>
        <label>Constitution :
            <input type="number" [(ngModel)]="perso.constitution" placeholder=""> / 20
        </label>
    </div>

    <div>
        <label>Chance :
            <input type="number" [(ngModel)]="perso.chance" placeholder=""> /20
        </label>
    </div>
    <div>
        <label>Note(s) :<br>
            <textarea [(ngModel)]="perso.note" placeholder="" cols="50" rows="4"></textarea>
        </label>
    </div>
    <div class="supprimer">
        <button class="delete" (click)="deletePerso(perso)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_delete_black_18dp66294009602.png"></button>
        <button class="delete" type="submit" (click)="editPerso(perso)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_edit_black_18dp.png"></button>
    </div>
</div>