<div *ngIf="joueur">
    <div>
        <label>Nom :
            <input [(ngModel)]="joueur.name" placeholder="">
        </label>
    </div>
    <div>
        <label>Sexe :
            <input [(ngModel)]="joueur.sexe" placeholder="">
        </label>
    </div>
    <div>
        <label>Taille :
            <input [(ngModel)]="joueur.taille" placeholder="">
        </label>
    </div>
    <div>
        <label>Poids :
            <input [(ngModel)]="joueur.poids" placeholder="">
        </label>
    </div>
    <div>
        <label>Classe :
            <input [(ngModel)]="joueur.classe" placeholder="">
        </label>
    </div>
    <div>
        <label>Race :
            <input [(ngModel)]="joueur.race" placeholder="">
        </label>
    </div>
    <div>
        <label>Intelligence :
            <input type="number" [(ngModel)]="joueur.intelligence" placeholder=""> / 20
        </label>
    </div>
    <div>
        <label>Force :
            <input type="number" [(ngModel)]="joueur.force" placeholder=""> / 20
        </label>
    </div>
    <div>
        <label>Dextérité :
            <input type="number" [(ngModel)]="joueur.dexterite" placeholder=""> / 20
        </label>
    </div>

    <div>
        <label>Constitution :
            <input type="number" [(ngModel)]="joueur.constitution" placeholder=""> / 20
        </label>
    </div>

    <div>
        <label>Chance :
            <input type="number" [(ngModel)]="joueur.chance" placeholder=""> /20
        </label>
    </div>
    <div>
        <label>Note(s) :<br>
            <textarea [(ngModel)]="joueur.note" placeholder="" cols="50" rows="4"></textarea>
        </label>
    </div>
    <div class="supprimer">
        <button class="delete" (click)="deleteJoueur(joueur)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_delete_black_18dp66294009602.png"></button>
        <button class="delete" type="submit" (click)="editJoueur(joueur)"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_edit_black_18dp.png"></button>
    </div>
</div>