<!--The content below is only a placeholder and can be replaced.-->
<div class="barre">
  <h1>
    {{ title }}
    <div class="boutonsjoueurs" routerLink="/histoires"><img title="Afficher toutes les histoires" src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/listejoueurs.png"></div>
    <div class="boutonsretour" routerLink="/univers"><img title="Retour à l'accueil" src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/iconemaison.png"></div>
  </h1>

</div>

<div class="corps">
  <router-outlet></router-outlet>
</div>