<h1>Ajouter un joueur</h1>
<div class="formulaire">
  <form [formGroup]="nouveauJoueurForm">
    Pseudo du personnage : <input type="text" formControlName="name" value="" required>
    <br>
    <label>Male
      <input type="radio" formControlName="sexe" value="male">
    </label>
    <label>Femelle
      <input type="radio" formControlName="sexe" value="femelle">
    </label>
    <br>
    Taille en cm : <input type="number" formControlName="taille" value="">
    <br>
    Poids en kg : <input type="number" formControlName="poids" value="">
    <br>
    Classe : <input type="text" formControlName="classe" value="">
    <br>
    Race : <input type="text" formControlName="race" value="">
    <br>
    Intelligence : <input type="number" formControlName="intelligence" value=""> / 20
    <br>
    Force : <input type="number" formControlName="force" value=""> / 20
    <br>
    Dextérité : <input type="number" formControlName="dexterite" value=""> / 20
    <br>
    Constitution : <input type="number" formControlName="constitution" value=""> / 20
    <br>
    Chance : <input type="number" formControlName="chance" value=""> / 20
    <br>
    Notes du MJ :
    <br>
    <textarea formControlName="note" cols="100" rows="4"></textarea>
  </form>
  <button type="submit" class="ajouter" (click)="addJoueur()"><img src="https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_add_circle_black_18dp92817963810.png">Ajouter</button>
</div>