/* You can add global styles to this file, and also import other style files */
body {
    margin: 0%;
    background-image: url("https://i.pinimg.com/originals/00/b5/0c/00b50c32bcf11110df185e2514dbf561.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "French Script MT";
    font-size: 24pt;
}

input {
    background: transparent;
    font-family: "French Script MT";
    font-size: 18pt;
}

textarea {
    background: transparent;
    font-family: "French Script MT";
    font-size: 18pt;
}

li {
list-style-image: url('https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/baseline_visibility_black_18dp.png');
padding-left: 30px
}

input[type=number] {
    width: 40px;
}

img {
    align-items: center;
    justify-content:center;
    vertical-align: middle;
    padding-right: 5px;
}

button {
    font-family: "French Script MT";
    font-size: 24pt;
    /* display: table; */
    vertical-align: middle;
}
