/* You can add global styles to this file, and also import other style files */
body {
    margin: 0%;
    background-color: #650101;
    font-family: "Santa'sSleighFull";
    font-size: 24pt;
    color: white;
}

input {
    background: transparent;
    font-family: "Santa'sSleighFull";
    font-size: 18pt;
    color: black;
}

textarea {
    background: transparent;
    font-family: "Santa'sSleighFull";
    font-size: 18pt;
    color: white;
}

li {
list-style-image: url('https://www.mesmedias.com/users/cf78d07037791ed4d915dfccf88ddacd/pixel.png');
padding-left: 30px;
background-color: white;
color: black;
vertical-align: middle;
}

img {
    align-items: center;
    justify-content:center;
    vertical-align: middle;
    padding-right: 5px;
}

button {
    font-family: "Santa'sSleighFull";
    font-size: 24pt;
    /* display: table; */
    vertical-align: middle;
}
